.btn-circle{ border-radius: 50%; }
.btn-twitter{ background-color: #00acee; color: #fff; &:hover, &:focus, &:active{ background-color: #00acee; color: #fff; } }
.btn-gp{ background-color: #df4a32; color: #fff; &:hover, &:focus, &:active{ background-color: #df4a32; color: #fff; } }
.btn-vk{ background-color: #54769a; color: #fff; &:hover, &:focus, &:active{ background-color: #54769a; color: #fff; } }
.btn-soundcloud{ background-color: #fe531b; color: #fff; &:hover, &:focus, &:active{ background-color: #fe531b; color: #fff; } }
.btn-website{ background-color: #500095; color: #fff; &:hover, &:focus, &:active{ background-color: #500095; color: #fff; } }